<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button title="Cerrar" aria-label="Cerrar" class="close" type="button" onclick="cerrar_modal_eliminacionUbicacion();">
        <spam aria-hidden="true">&times;</spam>
      </button>
      <h2 class="modal-title"> Eliminar Ubicación: {{ ubicacion }} </h2>
    </div>
    <form id="form_eliminacionUbicacion" action="{% url 'eliminar_Ubicacion' ubicacion.pk %}" method="POST">{% csrf_token %}
      <div class="modal-body text-center">
        <label></label>
        <h3><strong>¿Desea eliminar el Ubicación: {{ ubicacion }}?</strong></h3>
        <label></label>
      </div>
      <div class="modal-footer">
        <button class="btn btn-danger" type="button" onclick="cerrar_modal_eliminacionUbicacion();">Cancelar</button>
        <button id="boton_creacion" class="btn btn-primary" type="button" onclick="eliminarUbicacion({{ Ubicacion.pk }});">Confirmar eliminación</button>
      </div>
     </form>
  </div>
</div>