<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button title="Cerrar" aria-label="Cerrar" class="close" type="button" onclick="cerrar_modal_edicionRepresentante();">
        <spam aria-hidden="true">&times;</spam>
      </button>
      <h2 class="modal-title"> Editar Representante: {{ representante }} </h2>
    </div>
    <form id="form_edicionRepresentante" action="{% url 'editar_Representante' representante.pk %}" method="POST">{% csrf_token %}
      <div class="modal-body">

        <p>
          <div class="input-group">
            <div class="w-25">{{ form.tipo_cedula_repr }}</div>
            <div class="w-75" onkeypress="return soloNumeros(event)" oncopy="return false" onpaste="return false" oncut="return false">{{ form.cedula_repr }}</div>
          </div>
          <div class="alert alert-danger error-cedula_repr d-none"></div>
        </p>

        <p>
          {{ form.nombre_repr.label }}
          <div onkeypress="return soloLetras(event)" oncopy="return false" onpaste="return false" oncut="return false">{{ form.nombre_repr }}</div>
          <div class="alert alert-danger error-nombre_repr d-none"></div>
        </p>

        <p>
          {{ form.apellido_repr.label }}
          <div onkeypress="return soloLetras(event)" oncopy="return false" onpaste="return false" oncut="return false">{{ form.apellido_repr }}</div>
          <div class="alert alert-danger error-apellido_repr d-none"></div>
        </p>

        <p>
          {{ form.direccion_prod.label }}
          <div oncopy="return false" onpaste="return false" oncut="return false">{{ form.direccion_prod }}</div>
          <div class="alert alert-danger error-direccion_prod d-none"></div>
        </p>

        <p>
          {{ form.parentesco.label }}
          <div oncopy="return false" onpaste="return false" oncut="return false">{{ form.parentesco }}</div>
          <div class="alert alert-danger error-parentesco d-none"></div>
        </p>

      </div>
      <div class="modal-footer">
        <button class="btn btn-danger" type="button" onclick="cerrar_modal_edicionRepresentante();">Cancelar</button>
        <button id="boton_creacion" class="btn btn-primary" type="button" onclick="editarRepresentante();">Confirmar</button>
        </div>
    </form>
  </div>
</div>