<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button title="Cerrar" aria-label="Cerrar" class="close" type="button" onclick="cerrar_modal_creacionLote();">
        <spam aria-hidden="true">&times;</spam>
      </button>
      <h2 class="modal-title"> Registrar Lote </h2>
    </div>
    <form id="form_creacionLote" action="{% url 'registrar_Lote' %}" method="POST">{% csrf_token %}
      <div class="modal-body">

        <p>
          {{ form.nombre_lote.label }}
          <div oncopy="return false" onpaste="return false" oncut="return false">{{ form.nombre_lote }}</div>
          <div class="alert alert-danger error-nombre_lote d-none"></div>
        </p>

      </div>
      <div class="modal-footer">
        <button class="btn btn-danger" type="button" onclick="cerrar_modal_creacionLote();">Cancelar</button>
        <button id="boton_creacion" class="btn btn-primary" type="button" onclick="registrarLote();">Confirmar</button>
        </div>
    </form>
  </div>
</div>