{% extends "Inicio/index.html" %}
{% load static %}

{% block title %} Listado de Facturas {% endblock title %}

{% block extra_css %}
	<link rel="stylesheet" href="{% static 'css/lib/datatable/dataTables.bootstrap.min.css'  %}">
{% endblock extra_css %}

{% block body %}
<div class="card">
	<div class="card-header">
		<div class="row">
			<div class="col align-self-start">
				<a class="nav-link" onclick="abrir_modal_creacionFactura('{% url 'registrar_Factura' %}');" title="Añadir Factura" aria-label="Añadir Factura">
	              <i class="fa fa-plus"></i>
	            </a>
			</div>
			<div class="col align-self-center">
				<strong class="card-title"> Listado de Facturas </strong>
			</div>
		</div>
	</div>
	<div class="table-stats order-table ov-h">
		<table id="tabla_facturas" class="table">
			<thead>
				<tr>
					<th>#</th>
					<th>Fecha de la Factura</th>
					<th>Paciente</th>
					<th>Empleado</th>
					<th>Descripción de la Factura</th>
					<th>Producto</th>
					<th>Cantidad del Producto</th>
					<th>Opciones</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
</div>

<div class="modal fade" id="creacionFactura" tabindex="-1" role="dialog" aria-hidden="true">
	
</div>

<div class="modal fade" id="edicionFactura" tabindex="-1" role="dialog" aria-hidden="true">
	
</div>

<div class="modal fade" id="eliminacionFactura" tabindex="-1" role="dialog" aria-hidden="true">
	
</div>

{% endblock body %}

{% block extrajs %}
	<script src="{% static 'js/lib/data-table/jquery.dataTables.min.js' %}"></script>
	<script src="{% static 'js/lib/data-table/dataTables.bootstrap.min.js' %}"></script>
	<script src="{% static 'js/factura.js' %}"></script>
{% endblock extrajs %}